@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

* {
    box-sizing: border-box;
}

html,
body,
#root {
    font-family: "Raleway", sans-serif;
    min-height: 100vh !important;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* transitions */

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.delete-enter {
    width: 0px;
}

.delete-exit {
    width: 60px;
}

.delete-enter-active {
    width: 60px;
    transition: width 200ms ease-in-out;
}

.delete-exit-active {
    width: 0;
    transition: width 200ms ease-in-out;
}

.delete-enter-done {
    width: 60px;
}

.date-appear,
.date-enter {
    width: 40px;
    display: initial;
}

.date-exit-active,
.date-exit {
    display: none;
}

.date-enter-active {
    display: none;
}

.entry-enter {
    opacity: 0;
}
.entry-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
.entry-exit {
    opacity: 1;
}
.entry-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
